
.cartelera{
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    width: 100vw;
}

.movies-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
   
}

.sep{
    // background-color: yellow;
}