.body{
    background-color: #060c1c;
    background-size: cover;
    background-position: center;
}

.img-botton{
    background-image: url("https://images.unsplash.com/photo-1458053688450-eef5d21d43b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100vw;
}
.color{
    background-color: #060c1c;
    height: 15vh;
    width: 100vw;
}