<div class="reserva-wrapper">
    <div class="info-wrapper">
        Name: {{order.name}}
    </div>
    <div class="info-wrapper">
        Last name: {{order.lastname}}
    </div>
    <div class="info-wrapper">
        Email: {{order.email}}
    </div>
    <div class="info-wrapper">
        Phone number: {{order.phonenumber}}
    </div>
    <div class="info-wrapper">
        Card number: {{order.cardnumber}}
    </div>
    <div class="info-wrapper">
        Seats: {{order.seats}}
    </div>
</div>
