<div class="movie-wrapper">
    <div class="img-movie" 
    [ngStyle]="{'background-image': 'url('+onemovie.Poster+')'}">
    </div>
    <div class="info-movie">
        <div class="title-wrapper">
            <h2>{{onemovie.Title | uppercase}}</h2>
        </div>
        <div class="detail-wrapper">
            <h4>GENRE: <br> {{onemovie.Genre}}</h4>
        </div>
        <div class="detail-wrapper">
            <h4>LANGUAGE: <br> {{onemovie.Language}}</h4>
        </div>
        <div class="button">
            <button [routerLink]="['/info', onemovie.Id]">See more...</button>
        </div>
    </div>
</div>
