.movie-wrapper{
    position: relative;
    width: 100%;
    height: 45vh;
}

.info-movie{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 45vh;
    width: 100%;
    opacity: 0;
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 0.2fr 0.1fr;
    padding: 5%;
    
    &:hover{
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1;
    }
}
.img-movie{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 45vh;
    width:100%;
    background-position: center;
    background-size: cover;
}

.title-wrapper{
    h2{
        font-family: 'Staatliches', cursive;
        font-size: 30px;
        text-align: center;
    }
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5%;
}

.detail-wrapper{
    padding: 5%;
    
    h4{
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 15px;
    }
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    button{
        height: 100%;
        width: 50%;
        background-color: rgba(255, 255, 255, 1);
        border:none;
        font-family: 'PT Sans Narrow', sans-serif;
        color: black;
        font-family: 'PT Sans Narrow', sans-serif;
        
        
    }
}




