.movie-wrapper{
    position: relative;
    width: 100%;
    height: 45vh;
}

.info-movie{
    position: absolute;
    left: 0%;
    top: 0%;
    // transform: translate(-50%, -50%);
    height: 45vh;
    width: 100%;
    opacity: 0;
    display: grid;
    grid-template-rows: 0.5fr 0.25fr 0.25fr;
    padding: 5%;
    
    &:hover{
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1;
    }
}
.img-movie{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 45vh;
    width:100%;
    background-position: center;
    background-size: cover;
}

.title-wrapper{
    font-family: 'Staatliches', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.detail-wrapper{
    padding: 5%;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}




