.background{
    background-image: url("https://www.tokkoro.com/picsup/5462767-popcorn-wallpapers.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 130vh;
    position: relative;
    padding: 7%;
}

.form-wrapper{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 0.2fr 0.1fr 0.7fr;
}

.detail-wrapper{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    label{
        color: white;
        height: 70%;
    }
    // background-color: yellow;
}

.title-wrapper{
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.details{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100%;
}
.form{
    width: 100%;
    height: 100%;
    padding: 7%;
}
form{
    width: 100%;
    height: 100%;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:none;
    button{
        width: 50%;
        height: 80%;
        color: white;
        border: 1px solid white;
        background:none;
    }
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
}

input{
    text-align: center;
}