.title-wrapper{
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 20vh;
    background-color: black;
    color: white;
}