.title-wrapper{
    
    h1{
        font-size: 40px;
        font-family: 'Staatliches', cursive;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 20vh;
    // background-color: rgba(0,0,0,0.5);
    color: red;
}